{% import "_macros.html" as macros %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MyBlog {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">

    {% block head %}{% endblock %}
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('main.index') }}">MyBlog</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="#about">About</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  {% if current_user.is_administrator() %}
                  <li><a href="{{ url_for('main.manage_blog') }}">Manage</a></li>
                  {% endif %}

                  {% if current_user.is_authenticated %}
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <img src="">
                          {{ current_user.username }}<b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                          <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                      </ul>
                  </li>
                  {% else %}
                  <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                  <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                  {% endif %}
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <div class="container stuff"></div>

    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                  <h4>Favarite Links</h4>
                  <p><a href="https://atom.io/" target="_blank">Atom</a></p>
                  <p><a href="https://leetcode.com/" target="_blank">Leetcode</a></p>
                  <p><a href="https://www.linkedin.com" target="_blank">Linkedin</a></p>
                </div>
                <div class="col-sm-4">
                  <h4>Recommend Links</h4>
                  <p><a href="http://cn.vuejs.org/" target="_blank">Vue.js</a></p>
                  <p><a href="https://nodejs.org/en/" target="_blank">Node.js</a></p>
                  <p><a href="http://getbootstrap.com/2.3.2/" target="_blank">Bootstrap</a></p>
                </div>
                <div class="col-sm-4">
                  <h4>Common-used Links</h4>
                  <p><a href="https://github.com/" target="_blank">Github</a></p>
                  <p><a href="http://flask.pocoo.org/" target="_blank">Flask</a></p>
                  <p><a href="http://www.sqlalchemy.org/" target="_blank">SQLAlchemy</a></p>
                </div>
            </div>
            <hr>
            <p class="footer-text">&copy; 2016 Company, Inc.</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    {{ moment.include_moment() }}
    {% block scripts %}{% endblock %}
  </body>
</html>
