{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Detail Page{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/comment.css') }}">
{% endblock %}

{% block content %}
<div class="container content">

  <div class="row">

    <div class="col-sm-8 blog-main">

        {% if post %}
        <div class="blog">
          <h2 class="blog-post-title">{{ post.title }}</h2>
          <ul class="list-inline">
              <li><i class="fa fa-th-list" aria-hidden="true"><a href="{{ url_for('main.search_category', category=post.category.name) }}"> {{ post.category.name|upper }}</a></i></li>
              {% if post.tagging %}
              {% for t in post.tagging.all() %}
              <li><i class="fa fa-tag" aria-hidden="true"><a href="{{ url_for('main.search_tag', tag=t.tag.name) }}"> {{ t.tag.name|upper }}</a></i></li>
              {% endfor %}
              {% endif %}
          </ul>
          <p class="blog-post-meta">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              written: {{ moment(post.timestamp).fromNow() }} & last edit: {{ moment(post.last_edit).fromNow() }}
          </p>
          <p>{{ post.body | safe }}</p>
          <ul class="list-inline">
              <li>
                  <a id="thumb-up" href="javascript:void(0);" onclick="thumbuppost(this)"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a>
                  <span class="badge">{% if post.thumb_up %}
                          {{ post.thumb_up.all()|length }}
                  {% else %}
                          {{ 0 }}
                  {% endif %}
                   </span>
              </li>
          </ul>
        </div>
        {% endif %}

        {% if current_user.is_anonymous %}
        <a class="btn btn-primary" role="button" href="{{ url_for('auth.login') }}">Log in&comment</a>
        {% else %}
        <form class="form" method="post">
          <div class="form-group">
              {{ comment_form.hidden_tag() }}
              {{ wtf.form_field(comment_form.body) }}
          </div>
          <div class="form-group">
              {{ wtf.form_field(comment_form.submit, button_map={'submit': 'btn btn-primary'}) }}
          </div>
        </form>
        {% endif %}



        <hr>

        <h4>Latest Comments</h4>
        <br>
        {% if post.comments %}
        <ul class="media-list">
          {% for comment in post.comments if not comment.parent_id %}
          <div class="comment-container">
              <li class="media">
                  <div class="media-left media-top comment-avatar">
                    <a href="#">
                      <img class="media-object" src="{{ comment.author.gravatar(size=50) }}" alt="...">
                    </a>
                  </div>
                  <div class="media-body comment-box">
                    <div class="comment-head">
                        <ul class="list-inline">
                            <li><h5 class="comment-author media-heading">{{ comment.author.username }}</h5></li>
                            <li><span class="label label-primary">author</span></li>
                            <li><p>{{ moment(comment.timestamp).fromNow() }}</p></li>
                            <li class="pull-right">
                                <a id="like" href="javascript:void(0);" onclick="thumbupcomment(this)">
                                    <i id="{{ comment.id }}" class="fa fa-heart comment-icon-like" aria-hidden="true"></i>
                                </a>
                                <a id="reply" href="javascript:void(0);" onclick="reply(this)">
                                    <i class="fa fa-reply comment-icon-reply" aria-hidden="true">
                                        <span>{{ comment.id }}</span>
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="comment-content">{{ comment.body }}</div>
                  </div>
              </li>
              {% if Comment.query.filter_by(parent_id=comment.id).first() %}
              <hr>
              {% endif %}
              <ul class="media-list reply-list">
                {% for reply in Comment.query.filter_by(parent_id=comment.id).all() %}
                <li class="media">
                  <div class="media-left media-top comment-avatar">
                      <img class="media-object" src="{{ reply.author.gravatar(size=50) }}" alt="">
                  </div>
                  <div class="media-body comment-box">
                      <div class="comment-head">
                          <ul class="list-inline">
                              <li><h5 class="comment-author media-heading">{{ reply.author.username }}</h5></li>
                              <li><span class="label label-success">replied</span></li>
                              <li><p>{{ moment(reply.timestamp).fromNow() }}</p></li>
                              <!-- <li class="pull-right">
                                  <a href=""><i class="fa fa-heart comment-icon-like" aria-hidden="true"></i></a>
                                  <a id="reply" href="javascript:void(0);" onclick="reply(this)">
                                      <i class="fa fa-reply comment-icon-reply" aria-hidden="true">
                                          <span>{{ comment.id }}</span>
                                      </i>
                                  </a>
                              </li> -->
                          </ul>
                      </div>
                      <div class="comment-content">{{ reply.body }}</div>
                  </div>
                </li>
                {% if not loop.last %}
                <hr>
                {% endif %}

                {% endfor %}
              </ul>
          </div>
          {% endfor %}
      </ul>
        {% endif %}
    </div>

    <div class="col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1 blog-sidebar">
      <div class="side">
          <div class="sidebar-module">
            <h4><i class="fa fa-list-ol" aria-hidden="true"></i> Categories</h4>
                {% if categories %}
                <ul class="list-unstyled">
                    {% for category in categories %}
                    <li class="category">
                        <i class="fa fa-th-list" aria-hidden="true"><a href="{{ url_for('main.search_category', category=category.name) }}"> {{ category.name|upper }} </a></i>
                        <span class="badge">{{ category.posts|length }}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
          </div>
          <hr>
          <div class="sidebar-module">
            <h4><i class="fa fa-tags" aria-hidden="true"></i> Tags</h4>
                {% if tags %}
                <ul class="list-unstyled">
                    {% for tag in tags %}
                    <li class="tag">
                        <i class="fa fa-tag" aria-hidden="true"><a href="{{ url_for('main.search_tag', tag=tag.name) }}"> {{ tag.name|upper }} </a></i>
                        <span class="badge">{{ tag.tagging.all()|length }}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
          </div>
      </div>
    </div>

  </div>

  <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="replyModalLabel"></h4>
        </div>
        <form class="form" method="post">
            <div class="modal-body">
                <div class="form-group">
                    <textarea id="reply_content" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <input id="reply_submit" class="btn btn-primary" type="button" value="Submit">
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Excuse me but...</h4>
        </div>
        <div class="modal-body">
            <p>You need to log in first ^_^</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            <a class="btn btn-primary" role="button" href="{{ url_for('auth.login') }}">Log in</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
// check like status of comments
{% if not current_user.is_anonymous %}
{% for comment in post.comments if not comment.parent_id and current_user.is_thumbing_comment(comment) %}
    icon = $("#"+{{comment.id}});
    icon.css("color", "#FF0000");
{% endfor %}
{% endif %}

blog_id = {{ post.id|safe }};
function thumbuppost(object){
    {% if current_user.is_anonymous %}
        $("#loginModal").modal();
        return;
    {% endif %}
    url = "/thumb-up-post/"+blog_id;
    $.ajax({
        type: "POST",
        url: url,
        success: function(data, textStatus){
            if (data.url) {
                window.location = data.url;
            } else {
                window.location = "/";
            }
        },
        error: function(xhr, error){
            // alert(xhr.responseText);
            // alert(xhr.status);
        },
        dataType: "json"
    })
};
function thumbupcomment(object){
    {% if current_user.is_anonymous %}
        $("#loginModal").modal();
        return;
    {% endif %}
    comment_id = $(object).find("i").attr("id");
    url = "/thumb-up-comment/"+blog_id+"/"+comment_id;
    $.ajax({
        type: "POST",
        url: url,
        success: function(data, textStatus){
            icon = $("#"+comment_id);
            if(data.status=="changing red"){
                icon.css("color", "#FF0000");
                icon.hover(function(){
                    icon.css("color", "#FF0000")
                }, function(){
                    icon.css("color", "#FF0000")
                })
            }else{
                icon.css("color", "#A6A6A6");
                icon.hover(function(){
                    icon.css("color", "#FF0000")
                }, function(){
                    icon.css("color", "#A6A6A6")
                })
            }
        },
        error: function(xhr, error){
            // alert(xhr.responseText);
            // alert(xhr.status);
        },
        dataType: "json"
    });
};
function reply(object){
    {% if current_user.is_anonymous %}
        $("#loginModal").modal();
        return;
    {% endif %}
    parent_id = $(object).find("span").text();
    $('#reply_submit').click(function() {
        content = $('#reply_content').val();
        data = {parent_id: parent_id, content: content};
        url = "/reply/"+blog_id;
        $.ajax({
          type: "POST",
          url: url,
          data: data,
          success: function (data, textStatus) {
            if (data.url) {
                // alert(data.url);
                window.location = data.url;
            } else {
                window.location = "/";
            }
          },
          error: function (xhr, error) {
            // alert(xhr.responseText);
            // alert(xhr.status);
          },
          dataType: "json"
        });
    });
    author = $(object).parent().siblings().find("h5").text();
    $('#replyModalLabel').text("Reply to "+author+":");
    $('#replyModal').modal();
};
</script>
{% endblock %}
