{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Detail Page{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carousel.css') }}">
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">

    <div class="col-sm-8 blog-main">

        {% if post %}
        <div class="blog-post">
          <h2 class="blog-post-title">{{ post.title }}</h2>
          <ul class="list-inline">
              <li><i class="icon icon-th-list"><a href="{{ url_for('main.search_category', category=post.category.name) }}"> {{ post.category.name|upper }}</a></i></li>
              {% if post.tagging %}
              {% for t in post.tagging.all() %}
              <li><i class="icon icon-tag"><a href="{{ url_for('main.search_tag', tag=t.tag.name) }}"> {{ t.tag.name|upper }}</a></i></li>
              {% endfor %}
              {% endif %}
          </ul>
          <p class="blog-post-meta">{{ moment(post.timestamp).fromNow() }} by <a href="#">{{ post.author.username }}</a></p>
          <p>{{ post.body | safe }}</p>
          <hr>
        </div>
        {% endif %}

      <form class="form" method="post">
          <div class="form-group">
              {{ form.hidden_tag() }}
              {{ wtf.form_field(form.body) }}
          </div>
          <div class="form-group">
              {{ wtf.form_field(form.submit, button_map={'submit': 'btn btn-primary'}) }}
          </div>
      </form>

      <hr>

      <h4>Latest Comments</h4>
      <br>
      {% if post.comments %}
      <ul class="media-list">
          {% for comment in post.comments %}
          <li class="media">
              <div class="media-left media-top">
                <a href="#">
                  <img class="media-object" src="https://www.gravatar.com/avatar/e0713095da0509fa59048dec9508091a?default=identicon&size=50" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{ comment.author.username }}</h4>
                <p>{{ comment.body }}</p>
              </div>
          </li>
          {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About Writer</h4>
        <p>Live and work in Beijing. Interested in Python. Welcome contact via xzyduoduo@126.com</p>
        <p></p>
        <p></p>
      </div>
      <hr>
      <div class="sidebar-module">
        <h4>Categories</h4>
            {% if categories %}
            <ul class="list-unstyled">
                {% for category in categories %}
                <li><i class="icon icon-th-list"><a href="{{ url_for('main.search_category', category=category.name) }}"> {{ category.name|upper }} </a></i></li>
                {% endfor %}
            </ul>
            {% endif %}
      </div>
      <hr>
      <div class="sidebar-module">
        <h4>Tags</h4>
            {% if tags %}
            <ul class="list-unstyled">
                {% for tag in tags %}
                <li><i class="icon icon-tag"><a href="{{ url_for('main.search_tag', tag=tag.name) }}"> {{ tag.name|upper }} </a></i></li>
                {% endfor %}
            </ul>
            {% endif %}
      </div>
    </div><!-- /.blog-sidebar -->

  </div>
</div>
{% endblock %}
