{% extends "base.html" %}

{% block title %}Manage Page{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carousel.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
      <li>comments</li>
      <li><a href="{{ url_for('main.manage_blog') }}">blogs</a></li>
      <li><a href="{{ url_for('main.manage_user') }}">users</a></li>
    </ol>
</div>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th>author</th>
            <th>content</th>
            <th>comment time</th>
            <th>operation</th>
          </tr>
        </thead>
        {% if comments %}
        <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.author.username }}</td>
                <td>{{ comment.body }}</td>
                <td>{{ comment.timestamp }}</td>
                <td><a href=""><i class="icon-trash">Delete</i></a></td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>

    {% if pagination %}
    <div class="container pagination">
            {{ macros.pagination_widget(pagination, '.manage_comment') }}
    </div>
    {% endif %}
</div>

{% endblock %}
