{% extends "base.html" %}

{% block title %}Home Page{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carousel.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
      <li><a href="{{ url_for('main.manage_comment') }}">comments</a></li>
      <li class="active"><a href="{{ url_for('main.manage_blog') }}">blogs</a></li>
      <li><a href="{{ url_for('main.manage_user') }}">users</a></li>
    </ol>
</div>

<div class="container">
    <a href="{{ url_for('main.write_blog') }}" role="button" class="btn btn-primary">+新日志</a>
</div><br>

<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>title</th>
            <th>author</th>
            <th>post time</th>
            <th>operation</th>
          </tr>
        </thead>
        {% if posts %}
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.author.username }}</td>
                <td>{{ post.timestamp }}</td>
                <td>
                    <a href="{{ url_for('main.edit_blog', blog_id=post.id) }}"><i class="icon-edit">&nbsp; </i></a>
                    <a href="{{ url_for('main.delete_blog', blog_id=post.id) }}"><i class="icon-trash">&nbsp; </i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>

    {% if pagination %}
    <div class="container pagination">
            {{ macros.pagination_widget(pagination, '.manage_blog') }}
    </div>
    {% endif %}
</div>

{% endblock %}
