{% extends "base.html" %}

{% block title %}Search Page{% endblock %}
{% block head %}

{% endblock %}

{% block content %}

<div class="container content">
  <div class="search-title">
      <ol class="breadcrumb">
          <li>Search</li>
          <li><a href="#">{{ type }}</a></li>
          <li class="active">{% if category %}
                  {{ category|upper }}
          {% else %}
                  {{ tag|upper }}
          {% endif %}
          </li>
      </ol>
  </div>

  <div class="blog-main">

      {% if posts %}
              {% for post in posts %}
              <div class="blog-post">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <p class="blog-post-meta">{{ moment(post.timestamp).fromNow() }} by <a href="#">{{ post.author.username }}</a></p>
                <p>{{ post.body | safe }}</p>
              </div>
              <div class="details">
                <p><a class="btn btn-primary" href="{{ url_for('main.blog', blog_id=post.id) }}" role="button">View details &raquo;</a></p>
              </div>
              <hr>
              {% endfor %}
      {% endif %}

    </div>

  {% if pagination %}
  <div class="container pagination">
          {{ macros.pagination_widget(pagination, '.index') }}
  </div>
  {% endif %}
  {% endblock %}
</div>
