{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Detail Page{% endblock %}
{% block head %}
<link href="{{ url_for('static', filename='css/bootstrap-tagsinput.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container content">
  <!-- <div class="row"> -->

    <div class="blog-main">

      <div class="blog">
        <form class="form" method="">
            <h2>New Blog</h2>
            <label for="tags">Title</label>
            <div class="form-group">
                <input class="form-control" id="title" type="text">
            </div>
            <label for="tags">Category</label>
            <div class="form-group">
                <select class="form-control" id="category">
                    <option value="tech">Tech</option>
                    <option value="life">Life</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <label for="tags">Content</label>
            <div class="form-group">
                <textarea class="form-control" id="content" rows="20"></textarea>
            </div>
            <label for="tags">Tags</label>
            <div class="form-group">
                <input class="form-control" id="tags" type="text" data-role="tagsinput">
            </div>
            <div class="form-group">
                <input id="submit" class="btn btn-primary" type="button" value="Submit">
            </div>
        </form>
      </div>
    </div>

  <!-- </div> -->
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/bootstrap-tagsinput.js') }}"></script>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
// 编辑博客时填充表单内容
form = {{ form | safe }};
if(form.title){
    $('#title').val(form.title);
    $('#category').prop('selectedIndex', form.category-1);
    $('#content').text(form.content);
    $('#tags').val(form.tags);
}

tinymce.init({
    //选择class为content的标签作为编辑器
    selector: '#content',
    //方向从左到右
    directionality:'ltr',
    //高度为400
    height:400,
    //工具栏上面的补丁按钮
    plugins: [
            'advlist autolink link image lists charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime',
            'save table contextmenu directionality paste textcolor',
            'codesample',
    ],
    //工具栏的补丁按钮
     toolbar: 'undo redo | \
     bold italic fontsizeselect forecolor backcolor | \
     alignleft aligncenter alignright alignjustify bullist numlist | \
     image link codesample | \
     print preview fullscreen',
    //字体大小
    fontsize_formats: '10pt 12pt 14pt 18pt 24pt 36pt',
    //按tab不换行
    nonbreaking_force_tab: true,
    paste_data_images: true,
    // enable title field in the Image dialog
    image_title: true,
    // enable automatic uploads of images represented by blob or data URIs
    automatic_uploads: true,
    // URL of our upload handler (for more details check: https://www.tinymce.com/docs/configure/file-image-upload/#images_upload_url)
    images_upload_url: '/upload_img',
    // here we add custom filepicker only to Image dialog
    file_picker_types: 'image',
    // and here's our custom image picker
    file_picker_callback: function(cb, value, meta) {
        var input = document.createElement('input');
        input.setAttribute('type', 'file');
        input.setAttribute('accept', 'image/*');

        // Note: In modern browsers input[type="file"] is functional without
        // even adding it to the DOM, but that might not be the case in some older
        // or quirky browsers like IE, so you might want to add it to the DOM
        // just in case, and visually hide it. And do not forget do remove it
        // once you do not need it anymore.

        input.onchange = function() {
          var file = this.files[0];

          var reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onload = function () {
            // Note: Now we need to register the blob in TinyMCEs image blob
            // registry. In the next release this part hopefully won't be
            // necessary, as we are looking to handle it internally.
            var id = 'blobid' + (new Date()).getTime();
            var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
            var base64 = reader.result.split(',')[1];
            var blobInfo = blobCache.create(id, file, base64);
            blobCache.add(blobInfo);

            // call the callback and populate the Title field with the file name
            cb(blobInfo.blobUri(), { title: file.name });
          };
        };

        input.click();
    }
});

// tinymce.get('content').setContent('');

$(function() {
    $('#submit').click(function() {
        title = $('#title').val();
        category = $('#category').val();
        content = tinymce.get('content').getContent();
        tags = $('#tags').val();
        data = {title: title, category: category, content: content, tags: tags};
        $.ajax({
          type: "POST",
          url: form.url,
          data: data,
          success: function (data, textStatus) {
            // alert(textStatus);
            if (data.url) {
                // alert(data.url);
                window.location = data.url;
            } else {
                window.location = "/";
            }
          },
          error: function (xhr, error) {
            alert(xhr.responseText);
            alert(xhr.status);
          },
          dataType: "json"
        });
    });
});
</script>
{% endblock %}
