<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<description>定时器异步配置</description>

	
	<bean id="scheduleService" class="com.dkd.schedule.ScheduleService" lazy-init="true"></bean>
	<task:executor id="myExecutor" pool-size="10" />
	<task:annotation-driven executor="myExecutor"/>
	<task:scheduled-tasks>
		<!--cron="0 0/2 * * * ?"-->
    	<task:scheduled ref="scheduleService" method="getSynNonoBankData" cron="00 01 20 * * ?"   />
	</task:scheduled-tasks>
	<task:scheduled-tasks>

    	<task:scheduled ref="scheduleService" method="getSynNonoBankDetailData" cron="0 0/5 * * * ?"   />
	</task:scheduled-tasks>
	<!--<task:scheduled-tasks>
    	<task:scheduled ref="scheduleService" method="synUser" cron="0 0/5 * * * ?"  />
	</task:scheduled-tasks>
	<task:scheduled-tasks>
    	<task:scheduled ref="SynBird" method="synBird" cron="0 0/5 * * * ?"  />
	</task:scheduled-tasks>

	-->
 </beans>