{% extends "base.html" %}

{% block title %}Manage Page{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carousel.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
      <li><a href="{{ url_for('main.manage_comment') }}">comments</a></li>
      <li class="active">blogs</li>
      <li><a href="{{ url_for('main.manage_user') }}">users</a></li>
    </ol>
</div>

<div class="container">
    <a href="{{ url_for('main.write_blog') }}" role="button" class="btn btn-primary">+新日志</a>
</div><br>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th>title</th>
            <th>author</th>
            <th>post time</th>
            <th>operation</th>
          </tr>
        </thead>
        {% if posts %}
        <tbody>
            {% for post in posts %}
            <tr>
                <td><a href="{{ url_for('main.blog', blog_id=post.id) }}">{{ post.title }}</a></td>
                <td>{{ post.author.username }}</td>
                <td>{{ post.timestamp }}</td>
                <td>
                    <a href="{{ url_for('main.edit_blog', blog_id=post.id) }}"><i class="icon-edit">Edit</i></a>
                    <a id="{{ post.id }}" href="javascript:void(0);" onclick="delete_blog(this)"><i class="icon-trash">Delete</i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>

    {% if pagination %}
    <div class="container pagination">
            {{ macros.pagination_widget(pagination, '.manage_blog') }}
    </div>
    {% endif %}
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
function delete_blog(object){
    blog_id = $(object).attr("id");
    $.ajax({
        type: "POST",
        url: "/delete-blog/"+blog_id,
        success: function(data, textStatus){
            if (data.url) {
                window.location = data.url;
            } else {
                window.location = "/";
            }
        },
        error: function(xhr, error){
            alert(xhr.responseText);
            alert(xhr.status);
        },
        dataType: "json"
    })
}
</script>
{% endblock %}
